.home{
  .center_logo{

    img{
      display:block;
      margin:auto;
      margin-top:10%;
      width:421px;
      height:420px;

    }
  }

  .intro{
    color:$white;
    position:absolute;
    margin-left:5rem;
    margin-top:-30%;
    width:60%;



    .slideup{

      position:absolute;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 50px;
      font-weight: 800;
      width:100%;
      height:17rem;
      padding:2rem;
      overflow:hidden;

      .hl1{
        margin-bottom:2rem;
      }
      .h-1{
        margin-top:35%;
        animation:slideUp 5s linear infinite;
      }

    }
    .description{
      width:60%;
      font-size:16px;
      margin-top:30%;
      padding:2rem;

      .hl3{
        background-color:$primary;
        width:15rem;
        text-align:center;

        p{
          padding:.5rem;
          font-weight: 700;
        }
      }
    }
  }

  // .arrowleft{
  //   img{
  //     width:30px;
  //     height:24px;
  //     transform: rotate(-90deg);
  //     float: right;
  //     cursor: pointer;
  //     display: block;
  //     margin:auto;
  //     margin-top:15vh;
  //   }
  // }

  .arrowdown{

    img{
      width:30px;
      height:24px;
      display:block;
      margin:auto;
      margin-top:15vh;
    }
  }

  @keyframes slideUp{
    0%{transform: translateY(0%)}
    25%{transform: translateY(-120%)}
    50%{transform: translateY(-120%)}
    75%{transform: translateY(-120%)}
    100%{transform: translateY(-400%)}
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  }

}

.section1{
  
}
