.body { font-family: "Open Sans", sans-serif; }

.landing_page { color: #fff; }
.landing_page .landing-title { position: absolute; text-transform: uppercase; font-size: 10vh; line-height: 50px; font-weight: 800; height: 30%; top: 30%; overflow: hidden; }
.landing_page .h-1 { margin-top: 35%; animation: landing-title 5s linear infinite; }
.landing_page .description p { top: 55%; position: absolute; width: 40%; font-size: 16px; line-height: 19px; font-weight: 300; }
.landing_page .main-button { background-color: #D51130; position: absolute; top: 66%; text-decoration: none; color: #fff; font-weight: 700; text-align: center; padding: .5rem; width: 20%; }
.landing_page .logo img { margin: 10% 0; margin-top: 15%; }
.landing_page .button-down img { margin: 5% 0; }
@keyframes landing-title { 0% { transform: translateY(0%); }
  25% { transform: translateY(-120%); }
  50% { transform: translateY(-120%); }
  75% { transform: translateY(-120%); }
  100% { transform: translateY(-400%); }
  animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; }
.section-1 { background-color: #fff; padding: 0 0 90px; }
.section-1 .content-desc img { width: 50px; height: 50px; display: block; margin: 0 auto 30px; border: 0; }
.section-1 .content-desc-title { text-align: center; color: #666666; line-height: 19px; font-weight: 700; font-size: 16px; }
.section-1 .content-desc-desc { color: #666666; line-height: 21px; font-weight: 300; font-size: 14px; }

.title { padding-top: 12vh; text-align: center; color: #666666; font-weight: 300; }

.title h2 { font-family: "Open Sans", sans-serif; font-size: 35px; font-weight: 300; padding-bottom: 15px; }

.title p { font-size: 16px; font-weight: 300; margin: 0 10px; padding-bottom: 5%; }

.section-2 { background-color: #f2f2f2; padding: 30px 0 90px; }
.section-2 .section2-img img { position: relative; width: 100%; object-fit: cover; display: block; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8)); }
.section-2 .section2-title { position: absolute; width: 90%; top: 33%; left: 10%; }
.section-2 .section2-title p { color: #fff; font-weight: 300; }
.section-2 #section2-title { font-weight: bold; font-size: 16px; font-weight: 700; }
.section-2 .box { background-color: #fff; padding: 0; box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1); }
.section-2 .box .s2-desc p { padding: 15px; font-weight: 300; min-height: 240px; font-size: 14px; color: #666666; }
.section-2 .box .s2-button { background-color: #D51130; text-align: center; font-weight: 700; text-transform: capitalize; color: #fff; min-height: 30px; padding-top: 10px; position: relative; display: block; padding: 10px 0; text-decoration: none; }

.section3 { background-color: #fff; padding: 0 0 90px; }
.section3 .s3-button { background-color: #D51130; text-align: center; font-weight: 700; text-transform: capitalize; color: #fff; min-height: 30px; padding: 10px 0; text-decoration: none; width: 360px; top: 10%; }
.section3 .section3-content { margin-top: 10%; }
.section3 .date { background-color: #D51130; width: 100px; color: #fff; font-family: "Open Sans", sans-serif; padding: 10px; }
.section3 .num { font-size: 32px; position: relative; top: 10px; }
.section3 .mmyy { position: absolute; width: 50px; margin-left: 5px; line-height: 13px; top: 25%; }
.section3 .s3 p { font-weight: 700; text-transform: uppercase; color: #666666; font-size: 16px; }

.section4 { background-color: #f2f2f2; padding: 0 0 90px; }
.section4 .brand { background-color: #fff; padding: 30px 0; text-align: center; margin-top: 10%; display: inline-block; }
.section4 .square { position: absolute; height: 200px; width: 200px; right: -85px; }
.section4 .square-title { position: relative; font-size: 16px; line-height: 19px; font-weight: 700; color: #fff; width: 50px; text-transform: uppercase; }
.section4 img { margin: 0 20px; padding: 30px 0; }

.section5 { background-color: #fff; padding: 0 0 90px; }
.section5 .s5-icon { margin-top: 20%; position: relative; display: flex; }
.section5 .s5-icon img { border-radius: 50%; }
.section5 .quote img { border-radius: 0; height: 10px; width: 10px; float: right; margin: 0 2px; }
.section5 .quote p { font-size: 16px; font-weight: 300; font-style: italic; color: #666666; margin-left: 10px; }
.section5 .left { float: left; transform: rotate(180deg); }
.section5 .author { font-weight: bold; font-style: "Open Sans", sans-serif; color: #666666; margin-left: 10px; }

.section6 { padding: 0 0 90px; background-image: url("../images/thumbnail_1.jpg"); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }
.section6 .title { color: #fff; line-height: 24px; font-size: 16px; }
.section6 .contact { color: #fff; font-family: "Open Sans", sans-serif; font-weight: 300; }
.section6 .contact h6 { font-size: 14px; }
.section6 .contact p { font-size: 32px; line-height: 38px; }

.section7 { background-color: #fff; }
.section7 .logo { display: block; margin-top: 10vh; padding-bottom: 10%; width: 100%; }
.section7 .logo img { width: 100px; height: 100px; }
.section7 .sitemap { margin-top: 10vh; border-right: 1px solid #D51130; text-align: right; height: 110px; }
.section7 .sitemap h2 { font-family: "Open Sans", sans-serif; text-transform: uppercase; color: #666666; font-weight: 700; font-size: 13px; padding: 0; margin: 0; }
.section7 .sitemap p { font-weight: 300; padding: 0; margin: 0; font-size: 13px; }

.footer { background-color: #DADADA; }
.footer ul { list-style-type: none; margin-top: 15px; font-size: 13px; font-weight: 300; font-family: "Open Sans", sans-serif; }
.footer li { display: inline-block; margin: 0 15px; }
.footer li a { text-decoration: none; color: #666666; }
.footer a:hover { color: #D51130; }
.footer .copyright { margin-top: 15px; font-size: 13px; font-weight: 300; color: #666666; text-align: right; }

.navbar-toggler { border: none; outline: none; }

.navbar-toggler-icon { margin: 30% 0; }

.fadeInLeft_animation { animation: fade-left 3s ease-in-out 1 forwards; }

@keyframes fade-left { 0% { opacity: 0; transform: translateX(25px); }
  100% { opacity: 1; transform: translate(0px); } }
@media (max-device-width: 1024px) { .navbar-nav { background-color: #fff; } }
@media (max-device-width: 320px) { .section4 .square { position: absolute; height: 120px; width: 120px; right: 0; left: 125px; top: 0; }
  .section4 .square-title { position: absolute; right: 0; left: 195px; top: 45px; } }
@media only screen and (min-device-width: 321px) and (max-device-width: 990px) { .section4 .square { position: absolute; height: 120px; width: 120px; right: 0; left: 160px; top: 25px; }
  .section4 .square-title { position: absolute; right: 0; left: 232px; top: 70px; } }
@media (max-device-width: 576px) { .container { margin: 0 20px; }
  .landing_page .landing-title { font-size: 20px; line-height: 5px; font-weight: 800; height: 20%; top: 40%; overflow: hidden; }
  .landing_page .description p { display: none; }
  .landing_page .main-button { background-color: #D51130; position: absolute; top: 66%; font-weight: 700; text-align: center; width: 60%; }
  .landing_page .logo img { width: 200px; height: 200px; margin: 10% 0; margin-top: 60%; }
  .section-2 .box { margin-bottom: 10%; }
  .section3 .s3-button { width: 150px; }
  .section3 .date { width: 90px; }
  .section3 .num { font-size: 25px; position: relative; top: 10px; }
  .section3 .mmyy { width: 25px; font-size: 15px; top: 22%; }
  .section3 .s3 p { font-weight: 700; text-transform: uppercase; color: #666666; font-size: 16px; }
  .section4 .brand { margin: 30% 50%; padding: 0; width: 80%; text-align: center; margin-bottom: 5%; }
  .section4 img { margin: 0 50px; padding: 20px 0; }
  .section5 .s5-icon { margin: 0 20%; }
  .section5 .s5-icon-img { display: block; margin-left: auto; margin-right: auto; }
  .section5 .quote p { font-size: 1rem; }
  .section5 .s5-icon { display: unset; text-align: center; }
  .section6 .contact p { font-size: 15px; }
  .section6 .s6-contact { margin-top: 5%; text-align: center; padding: 0 23%; width: auto; }
  .section7 .logo { text-align: center; }
  .section7 .sitemap { border-right: none; text-align: center; font-size: 20px; padding: 0 20px; margin-top: 5px; }
  .section7 .sitemap h2 { font-size: 15px; }
  .section7 .sitemap p { font-size: 13px; }
  .footer ul { font-size: 15px; }
  .footer li { display: flex; justify-content: center; margin: 5px 0; }
  .footer .copyright { text-align: center; } }
* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: "Open Sans", sans-serif; }

.main-page { background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }

.navbar { padding: 0; margin: 0; }

.white { background-color: #fff; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }

nav { font-size: 12px; font-weight: 600; }
nav .navbar-brand img { padding-left: 2rem; width: 250px; height: 50px; }
nav #navbar .navbar-nav .support { background-color: #D51130; }
nav #navbar .navbar-nav .support .nav-link { color: #fff; }
nav #navbar .navbar-nav .nav-item { padding: 1.5rem; }
nav #navbar .navbar-nav .dropdown-menu { border-radius: 0; width: 200px; padding: 0; }
nav #navbar .navbar-nav .dropdown-menu .dropdown-item { padding: 1rem; font-size: 14px; text-align: center; }
nav #navbar .navbar-nav .nav-link { color: #BDBDBC; font-weight: 700; }
nav #navbar .navbar-nav .nav-link:hover { color: #D51130; }
nav #navbar .navbar-nav .dropdown:hover > .dropdown-menu { display: block; }
nav #navbar .navbar-nav .dropdown-item:nth-child(1) { background-color: rgba(0, 0, 0, 0.1); }
nav #navbar .navbar-nav .dropdown-item:hover { background-color: #D51130; }
nav #navbar .navbar-nav .nohover { pointer-events: none; }
